@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap');



body {
font-family: Abhaya Libre SemiBold;
}
.p {
  font-family: 'Poppins', sans-serif;
}
.t {
  max-width: 50%;
}

h1 {
  font-size: 85px;
}

.primera-vista p {
  width: 400px;
  height: 140px;
  left: 148px;
  top: 369px;
  font-size: 18px;
  line-height: 160%;
  font-feature-settings: 'liga' off;
  font-family: 'Poppins', sans-serif;
}

.segunda-vista h2{
  font-size: 50px;
}

.segunda-vista{
  height: 80vh;
}

.segunda-vista p {
    font-size: 18px;
    line-height: 160%;
    font-feature-settings: 'liga' off;
    font-family: 'Poppins', sans-serif;
    position: relative;

}

.tercera-vista h1{
  font-size: 50px;
}

.tercera-vista p{
  font-size: 50px;
  font-size: 18px;
  line-height: 160%;
  font-feature-settings: 'liga' off;
  font-family: 'Poppins', sans-serif;
}

  #ceroUno {
    position: absolute;
    opacity: 0.1;
    font-size: 400px;
    /* bottom: 0px; */
    font-family: Poppins;
    margin-top: -40%;
    font-weight: 800;

}

#ceroDos {
    position: absolute;
    opacity: 0.1;
    font-size: 450px;
    /* bottom: 0px; */
    font-family: Poppins;
    margin-top: %;
    font-weight: 800;
    margin-left: 10%;
    z-index: 1;
}

  #ceroTres {
    position: absolute;
    opacity: 0.1;
    font-size: 400px;
    /* bottom: 0px; */
    font-family: Poppins;
    margin-top: -40%;
    font-weight: 800;
    margin-left: -30%;

}

.socios-estrategicos h2{
  font-size: 4rem;
}

.socios-estrategicos p{
  font-size: 18px;
  line-height: 160%;
  font-feature-settings: 'liga' off;
  font-family: 'Poppins', sans-serif;
}

.nosotros p{
  font-size: 18px;
  line-height: 160%;
  font-feature-settings: 'liga' off;
  font-family: 'Poppins', sans-serif;
}

